@font-face {
  font-family: "Press Start";
  src: url("./fonts/PressStart2P-Regular.ttf");
}

.App {
  font-family: "Press Start", cursive;
  cursor: url("./assets/cursor.png"), auto;
}

a {
  text-decoration: none;
}

h1 {
text-align: center;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  flex-direction: column;
  padding-bottom: 8vh;
}

.logo {
  height: 70vh;
}

.intro {
  text-align: center;
}

.sword {
  max-height: 7vh;
  padding: 2vh 0;
}

.mission {
  line-height: 1.5;
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 3vh;
}

.discord-button {
  display: flex;
  justify-content: center;
}

.discord-button button {
  font-size: 0.7rem !important;
  background-color: #6168e4;
}

.contact-button {
  display: flex;
  justify-content: center;
}

.contact-button button {
  font-size: 0.7rem !important;
  background-color: #be333a;
}

.event-left {
  padding: 5vh 0;
  width: 65%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  text-align: right;
  line-height: 1.5;
}

.event-left-row {
  display: flex;
  flex-direction: row;
}

.event-left-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 5vh;
}

.event-left button {
  font-size: 0.7rem !important;
  background-color: #f5c03a;
}

.pints-logo {
  height: 40vh;
  align-self: center;
}

.pints-logo-2-mobile {
  display: hidden;
  position: absolute;
  left: -999em;
}

.pints-logo-2-desktop {
  display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    height: 40vh;
}

.event-right {
  padding-top: 5vh;
  width: 65%;
  margin: auto;
  text-align: center;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
}

.event-right-row {
  display: flex;
  flex-direction: row;
}

.event-right-button {
  display: flex;
  justify-content: flex-start;
  padding-top: 5vh;
}

.event-right button {
  font-size: 0.7rem !important;
}

/* mobile/tablet */
@media only screen and (max-width: 821px) {
  h1 {
    padding-top: 3vh;
    }

  .intro {
    padding-bottom: 3vh;
  }
  .mission {
    width: 90%;
    padding: 0;
  }

  .event-left {
    padding: 2vh 0;
    width: 90%;
    text-align: center;
  }
  .event-left-row {
    flex-direction: column;
  }
  .event-left-button {
    justify-content: center;
    padding-top: 2vh;
  }

  .event-right {
    padding: 2vh 0;
    width: 90%;
    text-align: center;
  }
  .event-right-row {
    flex-direction: column;
  }
  .event-right-button {
    justify-content: center;
    padding-top: 2vh;
  }

  .pints-logo-2-desktop {
    display: hidden;
    position: absolute;
    left: -999em;
  }

  .pints-logo-2-mobile {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
  }
}
